
li.collapsed {
    list-style-image:url(../images/right.png);
}

li.expanded {
    list-style-image:url(../images/down.png);
}

.block a {
    color:#737666;
}

div.error {
    background:#cec8ba url(../images/icons/error-48.png) no-repeat;
}

div.warning {
    background:#cec8ba url(../images/icons/warning-48.png) no-repeat;
}

div.status {
    background:#cec8ba url(../images/icons/info-48.png) no-repeat;
}

div.messages,
div.warning,
div.password-description {
    border:1px solid #a59e94;
    color:#000;
    font-weight:700;
    background-position:5px 50%;
    margin:10px 0;
    padding:20px 10px 20px 60px;
}

div.block,#nav,
.views-row,.node {
    position:relative;
}

div.block div.edit,
#nav div.edit,
.views-field-edit-node,
.node div.edit {
    display:none;
    position:absolute;
    top:2px;
    right:1px;
}

div.block:hover div.edit,
#nav:hover div.edit,
.views-row:hover .views-field-edit-node,
.node:hover div.edit {
    display:block;
    z-index:99;
}
