#admin-menu ul a {
    color:#ccc;
    font:11px Tahoma, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif;
    border-color:#555;
}

div.admin-panel {
    padding:0;
}

div.admin .left,
div.admin .right {
    margin:0;
}

body.front,body.not-front,#page {
    background:#d8d2c3;
}

#main,#footer,#footer-message {
    padding:10px 0;
}

.menu a,
.sf-menu a:hover {
    text-decoration:none;
}

.hidden,
body.imce #admin-menu {
    display:none;
}

div.view div.views-admin-links li a {
    color:#aaa;
}

