#comments .comment {
    border:1px solid #a59e94;
    font-size:12px;
    margin:5px;
    padding:10px;
}

.comment h3 {
    background:transparent url(../images/icon-comment.png) no-repeat scroll left center;
    font-size:14px;
    letter-spacing:normal;
    font-weight:700;
    margin:0;
    padding:10px 0 12px 19px;
}

.comment p {
    margin:12px 0;
}

.comment .submitted {
    font-size:11px;
    line-height:16px;
    letter-spacing:normal;
    text-transform:none;
    font-weight:400;
    border-bottom:1px dotted #aaa;
    margin:5px 0;
}
