#footer-container {
    font-size:12px;
    background:#c3bdb1;
    border-top:1px solid #97948a;
    border-bottom:1px solid #97948a;
    padding:20px 0;
}

#footer-message,#designed {
    text-align:center;
}

#footer h2 {
    font-size:14px;
    letter-spacing:0;
    font-weight:700;
}

#footer h3 {
    font-size:14px;
    border-bottom:1px solid #aaa;
    letter-spacing:0;
}
