.l-header {
     background: rgb(196, 190, 176);
}

.l-header-inner {
    margin-bottom: 0;
}

.l-region--navigation {
    background:url(../images/torn.jpg) 0 -70px repeat-x;
    height: 80px;

    .block {
        ul,
        li {
            list-style:none;
            list-style-image:none;
            margin:0;
            padding:0;
        }

        li:hover {
            visibility:inherit;
        }

        a {
            font-weight: 500;
            display: block;
            position: relative;
            padding: 5px 30px;
            line-height: 70px;
        }

        a,
        a:visited {
            color:#444;
        }

        li {
            float:left;
            position:relative;
        }

        li li {
            border:1px solid #aca699;
            border-top:1px solid #c7bfb2;
            background:#c3bdb0;
        }

        li:hover,
        li.sfHover,
        a:focus,
        a:hover,
        a:active {
            outline:0;
            color:#fff;
        }
    }
}

.block--nav-bar {
    a {
        border-left: none;
        border-right: none;
        font-size: 1em;
    }

    li:last-child a {
        border: none;
    }    
}
