.submitted {
    font-size:10px;
    line-height:10px;
    letter-spacing:2px;
    text-transform:uppercase;
    font-weight:700;
    margin:5px 0;
}

.preview .node {
    background-color:#fff;
    border:1px solid #ddd;
    margin-bottom:20px;
    padding:20px;
}

.node-links {
    clear:both;
}

.node-teaser {
    border-bottom:1px dotted #aaa;
    margin-bottom:10px;
    padding-bottom:10px;
}
