#content-top-inline-region p,
#content-bottom-inline-region p {
    font-size:12px;
    line-height:14px;
    text-align:justify;
}

#content-top-inline-region h2,#content-bottom-inline-region h2 {
    padding-bottom:0;
    background:none;
    margin:5px 0;
}

#content-top-inline-region .block-1 .block-inner,#content-bottom-inline-region .block-1 .block-inner {
    margin-right:15px;
}

#content-bottom-inline-region {
    padding-top:20px;
}
