aside .block {
    background:#cdc7bb url(../images/block.jpg) 100% 100% no-repeat;

    > .block__content,
    > ul.menu {
        font-size: 12px;
        padding: 10px 25px;
        margin-top: 0;
    }

    h2, h3 {
        margin: 15px 0 0;
        padding: 7px 10px;
    }
}
