input.form-text,
textarea,
input[type=text],
input[type=password] {
    background:url(../images/input.png) #fff no-repeat;
    border:1px solid #444;
    color:#000;
}

html.js fieldset.collapsible legend .fieldset-legend {
    background:transparent url(../images/down.png) no-repeat scroll 5px 50%;
}

html.js fieldset.collapsed legend .fieldset-legend {
    background-image:url(../images/right.png);
}

.text-format-wrapper .filter-wrapper {
    background: #cdc7bb;
}

.vertical-tabs {
    background: #cdc7bb;
    
    ul.vertical-tabs-list li.selected {
        background: #cdc7bb;
    }

    .fieldset-wrapper {
        padding-top: 10px;
    }
}

.form-actions input {
    margin-right: 7px;
}

.tabledrag-handle .handle {
    width: 30px;
    height: 30px;
}

.button { background-color: #777; }

.button--primary { background-color: #333; }

html.js .form-autocomplete {
    background-position: 100% 13px;
}
