body {
    background:#d8d2c3;
    color:#444;
    font-family:Arial, Helvetica, FreeSans, sans-serif;
    font-size:14px;
    margin:0;
}

.site-logo {
    margin: 5px 15px 0 0;
    display: block;
    float: left;
}

h1.site-name {
    font-size:22px;
    font-weight:700;
    margin-top:30px;
    display: block;
    float: left;

    a {
        text-decoration: none;
        color: #444;
    }
}

.l-footer {
    font-size: 12px;
    background: #c3bdb1;
    border-top: 1px solid #97948a;
    border-bottom: 1px solid #97948a;
    padding: 20px 0;
    text-align: center;
}

.tabs a {
    &.active {
        background: #cdc7bb;
    }
    &:hover {
        text-decoration: none;
        background: lighten(#cdc7bb, 10%);
    }
}

.messages {
    background: #cdc7bb;
    border: 1px #777 solid;
    color: #777;
}
