
img, media {
  max-width: 100%;
}

img.screenshot {
    border:1px solid #aaa;
    padding:2px;
}

#tooltip {
    position:absolute;
    border:1px solid #333;
    background:#efefef url(../images/gradient.png) repeat-x;
    background-position:0 -5px;
    color:#333;
    font-weight:700;
    display:none;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    z-index:99;
    padding:5px 10px;
}

img[align=left] {
    margin:0 10px 5px 0;
}

img[align=right] {
    margin:0 0 5px 10px;
}
