tr,td,th,td.active,th.active,thead th,tbody th {
    background:none;
    border:none;
    text-align:left;
    vertical-align:top;
    padding:3px;
}

tr.even,tr.even td {
    background:#e1dbcb;
    border:none;
}

tr.odd,tr.odd td {
    background:#dcd6c7;
    border:none;
}

table.system-status-report tr.error th {
    background-image:url(../images/icons/error-20.png);
}

table.system-status-report tr.warning th {
    background-image:url(../images/icons/warning-20.png);
}

table.system-status-report tr.ok th {
    background-image:url(../images/icons/ok-20.png);
}

th.active,
thead th,
div.ok,
tr.ok,
.update tr.ok {
    background:#cec8ba;
}

table,
tbody,
td,
.views-row-last .node-teaser {
    border:none;
}

table.sticky-table {
    width:100%;
}
