a,
a:link,
a:visited {
    color: #81856e;
    outline: none;
}

a:hover {
    text-decoration:underline;
}

legend {
    font-weight:700;
}

fieldset {
    border:1px solid #a59e94;
    padding:2px 10px;
}

dd {
    margin-bottom:5px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size:26px;
    font-weight:100;
    letter-spacing:-1px;
    margin:5px 0;
}

h2 {
    font-size:22px;
    font-weight:100;
    letter-spacing:-1px;
    margin:5px 0;
}

h3 {
    font-size:18px;
    font-weight:400;
    letter-spacing:-1px;
}

h4 {
    font-size:16px;
    font-weight:400;
    letter-spacing:2px;
    text-transform:uppercase;
}

h5 {
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:400;
}

h6 {
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    background:#ddd;
    padding:10px;
}
